@import '~styles/variables';
@import '~styles/mixins';

.toggle {
  appearance: none;
  background-color: var(--color-background-controls);
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    display: block;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;

    @include for-reduced-motion() {
      transition: none;
    }
  }

  &:checked {
    background-color: var(--color-accent);

    &::before {
      transform: translateX(120%);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }

  &--normal {
    width: 3rem;
    height: 1.5rem;
    border-radius: 1.5rem;

    &::before {
      width: 1.25rem;
      height: 1.25rem;
      top: 0.125rem;
      left: 0.125rem;
    }
  }

  &--small {
    width: 2.5rem;
    height: 1.25rem;
    border-radius: 1.25rem;

    &::before {
      width: 1rem;
      height: 1rem;
      top: 0.125rem;
      left: 0.125rem;
    }

  }


  &--large {
    font-size: 1.25rem;
  }

}