:root {
    --color-background: #f0f2f5;
    --color-surface: #FFFFFF;
    --color-primary: #050505;
    --color-secondary: #65676B;
    --color-background-controls: #f0f2f5;
    --color-accent: #1876f2;
    --color-danger: #ff0000;
    --color-scrollbar: #1876f2;
    --color-scrollbar-hover: #0f5bb5;

    --background-skeleton: #282c34;

    --font-size-xs: 0.75rem;
    --font-size-md: 1rem;
    --font-size-xl: 1.25rem;
}