$font-size-xs: 0.75rem;
$font-size-md: 1rem;
$font-size-xl: 1.25rem;

$break-4k: 2560px;
$break-laptop-large: 1440px;
$break-laptop: 1024px;
$break-tablet: 768px;
$break-mobile-large: 480px;
$break-mobile-medium: 375px;
$break-mobile-small: 320px;

$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;