@import '~styles/mixins';

html {
  font-size: 16px;
}

body {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-primary);
}

* {
  border: none;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #779299;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #61dafb;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1920px;
}

header {
  font-size: $font-size-xxl;
  padding: 1rem;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
      color: var(--color-accent);
    }
  }

  @include for-size(mobile-large) {
    padding: 0.5rem;
  }
}

main {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 1rem 1rem;

  @include for-size(laptop) {
    padding: 0;
  }
}

.animation-rotate {
  animation: rotate 1s linear infinite;

  @include for-reduced-motion() {
    animation: none;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}