@import '~styles/mixins';

html {
  font-size: 16px;
}

body {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-primary);
}

* {
  border: none;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #779299;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #61dafb;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  font-size: calc(10px + 2vmin);
  padding: 1rem;

  @include for-size(mobile-large) {
    padding: 0.5rem;
  }
}

main {
  flex-grow: 1;
  overflow-y: auto;
}

fieldset {
  border: 1px solid var(--color-secondary);
  padding: $padding-sm;
  margin-bottom: $padding-md;
  border-radius: 0.25rem;

  legend {
    padding: 0 $padding-sm;
  }
}

.animation-rotate {
  animation: rotate 1s linear infinite;

  @include for-reduced-motion() {
    animation: none;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media (min-width: $break-laptop) {
  main {
    padding: 1rem;
  }
}