html {
  font-size: 16px;
}

body {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
}

* {
  border: none;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #779299;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #61dafb;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  font-size: calc(10px + 2vmin);
  padding: 0.75rem;
}

main {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  flex-grow: 1;
}

@media (min-width: 1024px) {
  main {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #282c34;
  }

  a {
    /* more contrast color than #61dafb */
    color: #007bff;
  }

  button {
    background-color: #fff;
    color: #282c34;
  }

  button:hover {
    background-color: #007bff;
    color: #fff;
  }
}