@font-face {
  font-family: fontello;
  font-style: normal;
  font-weight: normal;
  src: url('~assets/fonts/fontello.woff') format('woff');
}

[class^='icon-']::before,
[class*=' icon-']::before {
  display: inline-block;
  font-family: fontello;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  width: 1em;
}

.icon-bookmark:before {
  content: '\e800';
}

.icon-th-list:before {
  content: '\e805';
}

.icon-th-large:before {
  content: '\e806';
}

.icon-cancel:before {
  content: '\e807';
}

.icon-arrows-cw:before {
  content: '\e81a';
}

.icon-eye:before {
  content: '\e825';
}

.icon-eye-off:before {
  content: '\e826';
}

.icon-cog:before {
  content: '\e827';
}

.icon-link-ext:before {
  content: '\f08e';
}

.icon-bookmark-empty:before {
  content: '\f097';
}

.icon-rss:before {
  content: '\f09e';
}

.icon-share:before {
  content: '\f1e0';
}