h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

a {
    color: #61dafb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: 1px solid #61dafb;
    border-radius: 4px;
    color: #61dafb;
    cursor: pointer;
    font-size: 0.75rem;
    padding: 0.5rem;
}

button:hover {
    background-color: #61dafb;
    color: #282c34;
}