h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

a {
    color: var(--color-accent);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

ul {
    list-style: none;
}