@import '~styles/variables';
@import '~styles/mixins';

.widget-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  height: max-content;

  @include for-size(laptop) {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 100%;
  }
}

.widget {
  width: 100%;
  padding: 1rem;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  background-color: var(--color-surface);
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);

  @include for-size(laptop) {
    padding: 0.5rem;
    border-radius: 0;
    box-shadow: none;
  }
}

.item-list {
  padding-right: 0.25rem;
  flex-grow: 1;
  overflow-y: auto;
  background-color: var(--color-surface);
}

.item {
  display: flex;

  .btn {
    visibility: hidden;

    @include for-size(tablet) {
      visibility: visible;
    }
  }

  &:hover {
    .btn {
      visibility: visible;
    }
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &:last-child {
    margin-bottom: 1rem;
  }
}