@import '~styles/mixins';

.skeleton {
  border-radius: 4px;
  background-color: var(--background-skeleton);
  height: 2.5rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &--animated {
    animation: skeleton 1s infinite;
  }
}

@for $i from 1 through 10 {
  .skeleton:nth-child(#{$i}) {
    animation-delay: $i * 0.1s;
  }
}

@keyframes skeleton {
  0% {
    background-color: var(--background-skeleton);
  }

  50% {
    background-color: var(--background-skeleton-lighten);
  }

  100% {
    background-color: var(--background-skeleton);
  }
}