@import '~styles/variables';
@import '~styles/mixins';

.news-list-item {
  margin-bottom: 1.5rem;

  .btn {
    visibility: hidden;

    @include for-size(tablet) {
      visibility: visible;
    }
  }

  img {
    opacity: 1;
    transition: opacity 0.3s ease-in;

    &:hover {
      opacity: 0.8;
    }
  }


  &:hover {
    .btn {
      visibility: visible;
    }
  }

}