@import '~styles/variables';
@import '~styles/mixins';

.dialog {
  background: var(--color-surface);
  border-radius: 10px;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  left: 50%;
  max-height: calc(100vh - 20rem);
  max-width: 480px;
  min-height: 320px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: $zindex-modal;

  @include for-size(mobile-large) {
    border-radius: 0;
    height: 100vh;
    left: 0;
    max-height: 100vh;
    max-width: 100%;
    top: 0;
    transform: none;
    width: 100%;
  }

  &__backdrop {
    backdrop-filter: blur(6px);
    background: #000c;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $zindex-modal-backdrop;
  }

  &__header {
    align-items: center;
    border-bottom: 1px solid var(--color-secondary);
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: relative;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    padding: 1rem;
  }

  &__btn-close {
    position: absolute;
    right: 1rem;
  }

}