.widget {
  border-radius: 4px;
  width: 100%;
  padding: 1rem;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;

  ul {
    padding-right: 0.5rem;
    flex-grow: 1;
    overflow-y: auto;

    li:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}