@import '~styles/variables';

.widget-list {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 100%;
}

.widget {
  width: 100%;
  padding: 1rem;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  background-color: var(--color-surface);

  ul {
    padding-right: 0.5rem;
    flex-grow: 1;
    overflow-y: auto;

    li:not(:last-child) {
      margin-bottom: 1rem;
    }

    li:last-child {
      margin-bottom: 0.5rem;
    }
  }
}

@media (min-width: $break-laptop) {
  .widget {
    border-radius: 4px;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  }

  .widget-list {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(3, 1fr);
    height: max-content;
  }
}