@import '~styles/variables';
@import '~styles/mixins';

.card {
  width: 100%;
  padding: 1rem;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  background-color: var(--color-surface);
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  height: calc(100vh - 5.25rem);

  @include for-size(laptop) {
    padding: 1rem 0.5rem;
    border-radius: 0;
    box-shadow: none;
    height: 100%;
  }
}